/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: $s__mainWidth; // 1160px
  margin-right: auto;
  margin-left: $s__mainMarginLeft;
}