/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  padding-top: 6rem; // 75px
  padding-bottom: 0.5rem; // 75px
  padding-right: 2.5rem;
  background: $t-theme;
}

