.c-article{
	.c-main{
	max-width:100rem;
	margin:0 auto;

	.catbloc-collection {

		display: table-cell;
		position: relative;
		width: 22rem;

		.catbloc{

			max-width:22rem;
			list-style:none;
			font-size:125%;

			position: absolute;
			top: 0.5rem;
			right: 0;
			bottom: 0.5rem;
			left: 0;


			.sidebar-post{

				background:$c__sidebar-background;
				border:#E4E0E0 1px solid;
				border-top-left-radius:0.5rem;
				border-bottom-left-radius:0.5rem;
				padding:1rem 0;

				.sidebar-subpost {

					padding:0.35rem 0;

					&.post{

					margin-left:0;
					list-style:none;
					font-size:125%;
					padding-left:1rem;

					}

					&.subpost{

					padding-left:2rem;
					list-style:none;

					}

					&.subsubpost {

					padding-left:3rem;
					list-style:none;

					}

					&:hover {
						background: #d4d4d4;
					}

					a {
						color: #333;
					}

				}

			}

	}
	}

	@media (max-width: 50rem) {

	.catbloc-collection {

		display:block;
		position:relative;
		height:auto;
		width:auto;

		.catbloc{

			max-width:80rem;
			width:auto;
			list-style:none;
			font-size:125%;
			background:$c__sidebar-background;
			border:#E4E0E0 1px solid;
			border-radius:0;
			padding:0.5rem;

			position: inherit;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

		}
	}

	}
	}
}
